@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Bulky.Models.UserInformationViewModel
@{
Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center w-100 bg-primary" style="min-height: 100vh; padding: 20px;">
    <form asp-action="Registration" asp-controller="Authentication" method="post" enctype="multipart/form-data" class="text-light w-75" style="max-width: 600px;">
        <fieldset class="m-1">
            <label asp-for="Email" class="text-light p-1">Email</label>
            <input asp-for="Email" type="text" id="login" class="form-control">
        </fieldset>
        <fieldset class="m-1">
            <label asp-for="Password" class="text-light p-1">Password</label>
            <input asp-for="Password" type="password" class="form-control">
        </fieldset>
        <fieldset class="m-1">
            <label asp-for="ConfirmPassword" class="text-light p-1">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control">
        </fieldset>
        <fieldset class="m-1">
            <label asp-for="FirstName" class="text-light p-1">First Name</label>
            <input asp-for="FirstName" type="text" class="form-control">
        </fieldset>
        <fieldset class="m-1">
            <label asp-for="LastName" class="text-light p-1">Last Name</label>
            <input asp-for="LastName" type="text" class="form-control">
        </fieldset>
        <fieldset class="m-1">
            <label asp-for="DateOfBirth" class="text-light p-1">Date of Birth</label>
            <input asp-for="DateOfBirth" type="date" class="form-control">
        </fieldset>
        <button type="submit" class="btn bg-light mt-3 text-black m-1">SignUp</button>
    </form>
</div>


